.ModalHeader {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: bold;
}

.ModalBody {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
}

.ModalBodySmall {
    font-size: 0.75rem;
    margin-bottom: 2rem;
}

.ModalBodyGroup {
    margin-bottom: 0;
}

.ModalBodyList {
    display: flex;
    flex-direction: column;
    margin-top: 0.25rem;
}

.BtnCancel {
    background-color: #e6eefb;
    color: #001940;
    border-radius: 65px;
}

.BtnCreate {
    background-color: #0052D4;
    color: #e6eefb;
    border-radius: 65px;
    border: none;
}