.Form {
    border: none;
    margin-right: 2rem;
}

.Button {
    border: none;
    background-color: #000815;
    color: #fff;
    border-radius: 100px;
    padding: 2px 10px 4px 10px;
    min-width: 75px;
    margin-right: 2rem;
}

.Button:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
}

.Chars {
    margin-left: 3.5rem;
    padding-top: 2rem;
    font-size: 0.8rem;
}