.Searchbar {
    color: #2142b2;
    padding-left: 0.2rem;
    margin-right: 3rem;
    margin-bottom: 1.2rem;
    width: 100%;
}

.Searchbar input {
    border-radius: 35px;
    color: #2142b2;
    padding-left: 2rem;
}

.SearchIcon {
    position: absolute;
    font-size: 1rem;
    padding: 9px;
    margin: 0.15rem auto;
    padding-left: 1rem;
    color: #2142b2;
}

.SearchIcon:hover {
    color: #00102a;
}