.Row {
    height: calc(100vh - 5.8rem);
    background-color: #001940;
    border-radius: 50px 50px 0 0;
}

.Input {
    background: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    color: #7177a1;
    text-align: center;
    padding: 10px;
}

.Header {
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #fff;
}

.Link {
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
    color: #fff;
}

.RegisterBtn:hover {
    color: #80a9ea;
}

.Btn {
    border-radius: 75px;
    background-color: #001940;
    color: #fff;
    padding: 0.25rem 0;
    border: none;
    width: 100%;
}

.Btn:hover {
    background-color: #334766;
}

.DynamicDivBtn {
    background-color: #334766;
    color: #fff;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5rem;
}

.WelcomeText {
    display: flex;
    align-self: center;
    font-size: 20vh;
    color: #334766;
    top: 0;
    left: 0;
    width: 50%;
}

@media screen and (max-width: 450px) {
    .WelcomeText {
        display: flex;
        align-self: center;
        font-size: 3rem;
        width: 10%;
    }

    .Link {
        margin-bottom: 2rem;
    }
}