.DropdownItem {
    display: inline-block;
    max-width: 50%;
    padding: 0px 0.5rem;
    color: #e6e6ea;
}

.DropdownItemDelete {
    display: inline-block;
    max-width: 50%;
    padding: 0px;
    background-color: #f85032;
}

.DropdownItemDelete:hover {
    background-color: #f85032;
}

.Absolute {
    position: absolute;
    right: 0;
    z-index: 99;
}

.DropdownItem {
    color: #001940;
}