.SearchContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.SearchContainer Input {
    width: 40vw;
}

@media screen and (max-width: 912px) {
    .SearchContainer Input {
        width: 65vw;
    }
}

@media screen and (max-width: 820px) {
    .SearchContainer Input {
        width: 80vw;
    }
}

.SearchBar input {
    border-radius: 20px;
    color: #001940;
    padding-left: 1rem;
    margin-bottom: 1rem;
}