.ProfileImage {
    object-fit: cover;
    height: 7.5rem;
    width: 7.5rem;
    margin: 0.4rem;
}

.Dots {
    margin-top: 1.25rem;
    margin-left: 2rem;
}

@media screen and (max-width: 991px) {
    .ProfileImage {
        height: 15rem;
        width: 15rem;
    }
}