.container {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.progressbar {
    width: 100%;
    height: 100%;
}

.progressbarFill1 {
    width: 100%;
    background-color: #001940;
    border-radius: 10px;
}

.progressbarFill2 {
    width: 78%;
}

.progressbarFill3 {
    width: 80%;
}

.UpVote,
.DownVote {
    cursor: pointer;
    margin-bottom: 5px;
}