* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    font-family: 'Quicksand', 'Ubuntu', sans-serif;
    background-color: #334766;
    color: #e6e6ea;
    min-height: 100vh;
}

i {
    color: #fff;
    font-size: 1.1rem;
    padding-right: 0.25rem;
}

i:hover {
    color: #fff;
}

.MainContent {
    padding-top: 5.8rem;
}

.Content {
    padding: 0.5rem;
    border-radius: 0 3rem 0 3rem;
    background-color: #001940;
    object-fit: cover;
    overflow: hidden;
}

.CommentContainer {
    padding: 0.5rem;
    border-radius: 0 0 3rem 3rem;
    background-color: #001940;
}

.ContentLink {
    padding: 0.5rem;
    border-radius: 2rem 0 2rem 0;
    background-color: #001940;
}

.CommentInfo {
    margin-left: 3.7rem;
}

.CommentSection {
    width: 95%;
}

.FixedContainer {
    position: sticky;
    top: 102px;
}

@media screen and (max-width: 900px) {
    .FixedContainer {
        position: unset;
    }
}

@media screen and (max-width: 430px) {
    .FixedContainer {
        position: unset;
        padding: 5px;
        margin-top: 1.5rem;
    }
}

.Chat {
    position: fixed;
    align-items: center;
    justify-content: center;
    right: 11.5rem;
    bottom: 1rem;
    padding-top: 1rem;
}

.ChatContainer {
    text-align: center;
    margin-top: 1rem;
}

@media screen and (max-width: 900px) {
    .Content {
        position: unset;
    }
}

@media screen and (max-width: 430px) {
    .Content {
        position: unset;
        padding: 5px;
        margin-top: 1.5rem;
    }
}

.BtnPostCancel {
    border-radius: 15px 0 15px 15px;
    color: #334766;
    background-color: #e6eefb;
    border: none;
    padding: 0.25rem 0;
    width: 40%;
    margin-right: 1rem;
}

.BtnPostCreate {
    border-radius: 0 15px 15px 15px;
    color: #e6eefb;
    background-color: #334766;
    padding: 0.25rem 0;
    border: none;
    width: 40%;
}