* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    font-family: 'Quicksand', 'Ubuntu', sans-serif;
    background-color: rgba(0, 82, 212, 0.65);
    color: #e6e6ea;
    min-height: 100vh;
}

i {
    color: #fff;
    font-size: 1.1rem;
    padding-right: 0.25rem;
}

i:hover {
    color: #fff;
}

.MainContent {
    padding-top: 5.8rem;
}

.Content {
    /* background-color: #fff; */
    padding: 0.5rem;
    border-radius: 0 3rem 0 3rem;
    background-color: #0052D4;
}

.ContentLink {
    /* background-color: #fff; */
    padding: 0.5rem;
    border-radius: 2rem 0 2rem 0;
    background-color: #0052D4;
}

.CommentInfo {
    margin-left: 3.7rem;
}

.CommentSection {
    width: 95%;
}

.FixedContainer {
    position: sticky;
    top: 102px;
}